body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ships{
  margin: 40px auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  background: linear-gradient(0deg, blue 99%, white);
}

.ship {
  position: absolute;
  background: #5d7396;
  min-width: 10px;
  min-height: 10px;
  border-radius: 20px;
}

.ship-name {
  font-size: 8px;
  color: white;
  white-space: nowrap;
  position: absolute;
  top: 50%;
}

.controls {
  display: flex;
  flex-direction: row;
}
